<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Show books</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div>
    <div>
        <h1 class="text-center">All books</h1>
    </div>
    <div>
        <table class="table table-bordered table-hover table-sm">
            <caption>List of books</caption>
            <thead>
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Isbn</th>
                <th scope="col">Year</th>
                <th scope="col">Pages</th>
                <th scope="col">Language</th>
                <th scope="col">Category</th>
                <th scope="col">Publisher</th>
                <th sec:authorize="hasAnyAuthority('ADMIN')" scope="col" colspan="2">Modify</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book,iter : ${allBooks}">
                <th scope="row" th:text="${iter.count}"></th>
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.year}"></td>
                <td th:text="${book.pages}"></td>
                <td th:text="${book.language}"></td>
                <td th:text="${book.category}"></td>
                <td th:text="${book.publisher}"></td>
                <td sec:authorize="hasAnyAuthority('ADMIN')">
                    <form th:action="@{/book/delete/{bookId}(bookId=${book.id})}" th:method="delete"><input
                            type="submit" value="Delete"/></form>
                </td>
                <td sec:authorize="hasAnyAuthority('ADMIN')">
                    <form th:action="@{/book/update/{bookId}(bookId=${book.id})}" th:method="get"><input type="submit"
                                                                                                         value="Update"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <form th:action="@{/home}" method="get">
                <input type="submit" value="Go back to admin panel"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>