<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registration page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div>
    <form class="vldform" th:action="@{/registration}" th:object="${user}" method="POST">
        <h1>Sign up</h1>

        <input class="vldform__textbox" type="text" th:field="*{name}" th:placeholder="'First Name'">
        <label class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>

        <input class="vldform__textbox" type="text" th:field="*{lastName}" th:placeholder="'Last Name'">
        <label class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>

        <input class="vldform__textbox" type="email" th:field="*{email}" th:placeholder="Email">
        <label class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>

        <input class="vldform__textbox" type="password" th:field="*{password}" th:placeholder="Password">
        <label class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>

        <input class="vldform__button" type="submit" value="Sign up">

        <p class="vldform__signup">You already have account?
            <a th:href="@{/}" onclick="">Log in</a>
        </p>
    </form>
</div>
</body>
</html>